In [1]:
print("Hello World")

Hello World

### Data Types

In [2]:
a = 6 #int
b = 3.0 #float
c = "Hello" #string
d = True #bool
e = None #None
print(type(e))

<class 'NoneType'>

### Input

In [3]:
name = input("Enter your name: ")
print("Hello", name)
print(f"Hello {name}")

Enter your name: Erwin
Hello Erwin
Hello Erwin

### Conditionals

In [4]:
n = int(input("Enter a number: "))
if n>0:
    print(f"{n} is positive")
elif n<0:
    print(f"{n} is negative")
else:
    print(f"{n} is zero")

Enter a number: 7
7 is positive

### Sequences

In [5]:
name = "Erwin"
print(name[3])

i

In [6]:
#list - sequence of mutable objects
names = ["Eren", "Armin", "Mikasa"]
print(names[2])
print(names[2][2])
names.append("Sasha")
print(names)
names[0] = "Jean"
print(names)

Mikasa
k
['Eren', 'Armin', 'Mikasa', 'Sasha']
['Jean', 'Armin', 'Mikasa', 'Sasha']

In [7]:
#tuple - sequence of immutable objects
coordinates = (5.0, 20.0)
print(coordinates)
coordinates[0] = 10.0

(5.0, 20.0)

TypeError: 'tuple' object does not support item assignment

In [8]:
#set - sequence of unique values
s = set()
s.add(1)
s.add(2)
s.add(4)
s.add(3)
s.add(2)
print(s)
s.remove(2)
print(s)

{1, 2, 3, 4}
{1, 3, 4}

In [9]:
#dictionary - collection of key-value pairs
regiment ={
    "Eren" : "Scout",
    "Hannes" : "Garrison",
    "Niles" : "Military Police"
}
print(regiment["Niles"])
regiment["Armin"] = "Scout"
print(regiment)
regiment["Eren"] = "Titan"
print(regiment)

Military Police
{'Eren': 'Scout', 'Hannes': 'Garrison', 'Niles': 'Military Police', 'Armin': 'Scout'}
{'Eren': 'Titan', 'Hannes': 'Garrison', 'Niles': 'Military Police', 'Armin': 'Scout'}

In [10]:
#len fn
print(len(names))
print(len(regiment))
print(len(coordinates))

4
4
2

### Loops

In [15]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    
print()

for i in range(5):
    print(i)

print()

for name in names:
    print(name)
    
print() 

for name in regiment:
    print(name)

print()

for name in regiment:
    print(regiment[name])

1
2
3
4
5

0
1
2
3
4

Jean
Armin
Mikasa
Sasha

Eren
Hannes
Niles
Armin

Titan
Garrison
Military Police
Scout

### Functions

In [17]:
def cube(x):
    return x**3

print(cube(3))

def mean(values):
    ans = 0
    for i in values:
        ans = ans + i
    ans = ans/len(values)
    return ans

y = [1, 2, 3, 4, 5]
print(f"The mean of y is {mean(y)}")

27
The mean of y is 3.0